/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

 body{
 	background-color: #000;	
 	color: #bdc3c7;
 }


 .jumbotron{
 	color: #d35400;
 	background-color: #000;
 	margin-bottom: 0px;
 	padding : 0px;
 	margin-top: 50px;
 	h1{
	 	margin-bottom: 20px;
 	}
 	p{
 		img{
 			opacity: 0.5;
 			padding-bottom: 3px;
 			margin-right:  5px;
 		}
 	}
 }


 .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
 	background-color: #f1c40f;
 	border-color: #f1c40f;
 }

 .btn-success {
 	color: #ffffff;
 	background-color: #d35400;
 	border-color: #d35400;
 }


 .lead {
 	margin-bottom: 40px;
 	text-align: left;
 	margin-left: 10px;
 }
 .marketing {
 	margin: 20px 0;
 }

 .footer {
 	border-top: 0px; 	
 }



.spotlight{
  position: absolute;
  top: -100px;
  left: -100px;
  width: 5px;
  height: 5px;
  opacity: 0;
  background-color: #d35400;
  @include border-radius(100px);
  @include box-shadow(#d35400 0px 0px 80px 60px);
  @include transition-property(box-shadow);
  @include transition-duration(2s);  
}

.ghost{
	position: absolute;
	top: 0px;
	left: 00px;
	opacity: 0.5;
}

a{
	color: #16a085;	
}






