/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background-color: #000;
  color: #bdc3c7; }

/* line 14, ../sass/screen.scss */
.jumbotron {
  color: #d35400;
  background-color: #000;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 50px; }
  /* line 20, ../sass/screen.scss */
  .jumbotron h1 {
    margin-bottom: 20px;
    text-shadow: 0px 0px 80px #d35400; }
  /* line 25, ../sass/screen.scss */
  .jumbotron p img {
    opacity: 0.5;
    padding-bottom: 3px;
    margin-right: 5px; }

/* line 34, ../sass/screen.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #f1c40f;
  border-color: #f1c40f; }

/* line 39, ../sass/screen.scss */
.btn-success {
  color: #ffffff;
  background-color: #d35400;
  border-color: #d35400; }

/* line 46, ../sass/screen.scss */
.lead {
  margin-bottom: 40px;
  text-align: left;
  margin-left: 10px; }

/* line 51, ../sass/screen.scss */
.marketing {
  margin: 20px 0; }

/* line 55, ../sass/screen.scss */
.footer {
  border-top: 0px; }

/* line 62, ../sass/screen.scss */
.ghost {
  position: absolute;
  top: -200px;
  left: -200px;
  opacity: 0.3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition: opacity 3s ease-out;
  -moz-transition: opacity 3s ease-out;
  -o-transition: opacity 3s ease-out;
  transition: opacity 3s ease-out; }

/* line 75, ../sass/screen.scss */
a {
  color: #16a085; }

/* line 79, ../sass/screen.scss */
.btn {
  -webkit-box-shadow: #d35400 0px 0px 20px 1px;
  -moz-box-shadow: #d35400 0px 0px 20px 1px;
  box-shadow: #d35400 0px 0px 20px 1px;
  z-index: 100; }
